@charset "utf-8";
body{
	background-image: url("エリア画像/background.jpg")
}

#ani {
	animation: anime 6s ease -2s infinite alternate;
}
@-ms-keyframes anime{
	0%{
	width: 100px:
	height: 20px;
	background-color: #0000ff;
 }
	100%{
	width: 200px:
	height: 20px;
	background-color: #000080;
 }
}
